<!-- Form invitation start -->
<%= form_with(model: @invitation, local: true) do |f| %>
<!-- Form invitation end -->

  <!-- Label and input for invited_user_id start -->
  <div class="form-group">
    <%= f.label :invited_user_id %>

    <!-- Input for invited_user_id start -->
    <%= f.text_field :invited_user_id, class: "form-control" %>
    <!-- Input for invited_user_id end -->
  </div>
  <!-- Label and input for invited_user_id end -->

  <!-- Label and input for trip_id start -->
  <!-- Input for trip_id start -->
  <%= f.hidden_field :trip_id, value: @trip.id %>
  <!-- Input for trip_id end -->
  <!-- Label and input for trip_id end -->

  <%= f.submit "Create invitation", class: "btn btn-block btn-outline-secondary" %>
<% end %>
