<%= form_with(model: @invitation, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :invited_user_id %>

    <%= f.collection_select :invited_user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :trip_id, value: @trip.id %>

  <%= f.submit "Create invitation", class: "btn btn-block btn-outline-secondary" %>
<% end %>
