<!-- Form attendance start -->
<%= form_with(model: @attendance, local: true) do |f| %>
<!-- Form attendance end -->

  <!-- Label and input for trip_id start -->
  <!-- Input for trip_id start -->
  <%= f.hidden_field :trip_id, value: @trip.id %>
  <!-- Input for trip_id end -->
  <!-- Label and input for trip_id end -->

  <!-- Label and input for attendee_id start -->
  <div class="form-group">
    <%= f.label :attendee_id %>

    <!-- Input for attendee_id start -->
    <%= f.text_field :attendee_id, class: "form-control" %>
    <!-- Input for attendee_id end -->
  </div>
  <!-- Label and input for attendee_id end -->

  <%= f.submit "Create attendance", class: "btn btn-block btn-outline-secondary" %>
<% end %>
