<%= form_with(model: @attendance, local: true) do |f| %>

  <%= f.hidden_field :trip_id, value: @trip.id %>

  <div class="form-group">
    <%= f.label :attendee_id %>

    <%= f.collection_select :attendee_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create attendance", class: "btn btn-block btn-outline-secondary" %>
<% end %>
