<% was_validated = invitation.errors.any? %>

<%= form_with(model: invitation, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for invited_user_id start -->
  <div class="form-group">
    <% invited_user_class = "form-control" %>
    <% invited_user_was_invalid = invitation.errors.include?(:invited_user) %>

    <% if was_validated %>
      <% if invited_user_was_invalid %>
        <% invited_user_class << " is-invalid" %>
      <% else %>
        <% invited_user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :invited_user_id %>
    <!-- Input for invited_user_id start -->
    <%= f.collection_select :invited_user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for invited_user_id end -->
    <% if invited_user_was_invalid %>
      <% invitation.errors.full_messages_for(:invited_user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for invited_user_id end -->
  <!-- Label and input for trip_id start -->
  <div class="form-group">
    <% trip_class = "form-control" %>
    <% trip_was_invalid = invitation.errors.include?(:trip) %>

    <% if was_validated %>
      <% if trip_was_invalid %>
        <% trip_class << " is-invalid" %>
      <% else %>
        <% trip_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :trip_id %>
    <!-- Input for trip_id start -->
    <%= f.number_field :trip_id, class: trip_class, placeholder: "Enter trip" %>
    <!-- Input for trip_id end -->
    <% if trip_was_invalid %>
      <% invitation.errors.full_messages_for(:trip).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for trip_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
