<div class="card mb-3">
  <h2 class="card-header h4">
    Available Day #<%= available_day.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Day</dt>
      <dd><%= available_day.day %></dd>

      <dt>Day name</dt>
      <dd><%= available_day.day_name %></dd>

      <dt>Trip</dt>
      <dd>
        <% if @available_day.trip.present? %>
          <%= link_to available_day.trip, available_day.trip %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back available_day, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_available_day_url(available_day), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to available_day, method: :delete, data: { confirm: "Do you really want to delete this available_day?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(available_day.updated_at) %> ago
  </div>
</div>
